<head>
<title>Checklists</title>
</head>
<div class="navbarpls">
<a href="#/home">Home</a> > Checklists
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>Search: <input ng-model="query"></p>
	  <p>Sort by:
<select ng-model="orderprop">
  <option value="name">Alphabetical</option>
  <option value="dateModified">Newest</option>
</select>
</p>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <ul class='clists'>
<li ng-repeat="clist in clists | filter:query | orderBy:orderprop" class="thumbnail">
            <a href="#/checklists/{{clist._id}}">{{clist._source.name}}</a>
            <p>{{clist._source.timeModified}}</p>
</li>
</ul>


    </div>
  </div>
</div>