
<title>Group: {{group._source.name}}</title>
<link rel="shortcut icon" type="image/png" href="icon.png"/>
<link href="login.css" type="text/css" rel="stylesheet" />
<body>
<div id="imagebanner">
			<img src="icon.png" alt="ICON" height="42" width="42" />
		</div>
		<h1 id="title"> HMA ADMIN</h1>
 <div class="temp">
<h1>{{group._source.name}}</h1>
<ul class="specs">

<li class="ID">ID: {{group._id}}</li>



	<li>
		<span>Name: </span>
		{{group._source.name}}
    </li>
  
  
  <li>
  <span>Hidden: {{group._source | checkmark}}
  </span>
  </li>
  <input type="button" id="delete" value="Delete Group" ng-click="DeleteGroup()" />
  
</ul>
</div>