<head>
<title>Groups</title>
</head>
<div class="navbarpls">
<a href="#/home">Home</a> > Groups
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>Search: <input ng-model="query"></p>
	  <p>Sort by:
<select ng-model="orderprop">
  <option value="name">Alphabetical</option>
  <option value="dateModified">Newest</option>
</select>
<a href="#/groupCreate">Create Group</a>
</p>
    </div>
    <div class="col-md-10">
	
      <!--Body content-->
	
      <ul class='groups'>
<li ng-repeat="group in groups | filter:query | orderBy:orderprop" class="thumbnail">
            <a href="#/groups/{{group._id}}">{{group._source.name}}</a>
            <p>{{group._source.timeModified}}</p>
</li>
</ul>


    </div>
  </div>
</div>