
<title>Group: {{group._source.name}}</title>
<body>
<div class="navbarpls">
<a href="#/home">Home</a> > <a href="#/groups">Groups</a> > {{group._source.name}}
</div>
<div class="temp">
<h1>{{group._source.name}}</h1>
<ul class="specs">

<li class="ID">ID: {{group._id}}</li>



	<li>
		<span>Name: </span>
		{{group._source.name}}
    </li>
	<li>Project ID:<a href="#/projects/{{group._source.projectID}}">{{group._source.projectID}}</a>

	</li>
  
  <li>
  <span>Hidden: {{group._source | checkmark}}
  </span>
  </li>
  <input type="button" id="delete" value="Delete Group" ng-click="DeleteGroup()" />
  <a href="#/groups/{{group._id}}/edit">Edit this group</a>
  
</ul>