<head>
<title>Home</title>
</head>
<link rel="shortcut icon" type="image/png" href="icon.png"/>
<link href="login.css" type="text/css" rel="stylesheet" />
<html ng-app='phonecatApp'>
<head>
<title ng-bind="header"></title>
			<div id="imagebanner">
			<img src="icon.png" alt="ICON" height="42" width="42" />
		</div>
		<h1 id="title"> HMA ADMIN</h1>
<div class="col-md-6 col-md-offset-3">
    <h2>Categories</h2>
    <p><a href="#/projects/">Projects</a></p>
	<p><a href="#/persons/">Persons</a></p>
	<p><a href="#/groups/">Groups</a></p>
	<p><a href="#/locations/">Locations</a></p>
	<p><a href="#/shipments/">Shipments</a></p>
	<p><a href="#/notes/">Notes</a></p>
	<p><a href="#/checklists/">Checklists</a></p>
	<p><a href="#/threads/">Threads</a></p>
</div>