<head>
<title>Location: {{loc._source.name}}</title>
<link rel="shortcut icon" type="image/png" href="icon.png"/>
<link href="login.css" type="text/css" rel="stylesheet" />
</head>
<div id="imagebanner">
			<img src="icon.png" alt="ICON" height="42" width="42" />
		</div>
		<h1 id="title"> HMA ADMIN</h1>
		 <div class="temp">
<h1>{{loc._source.name}}</h1>
<ul class="specs">
<!--<li>{{loc}}</li>-->
<li class="ID">ID: {{loc._id}}</li>
	


	<li>
		<span>Name: </span>
		{{loc._source.name}}
    </li>
	
	<li>Latitude: {{loc._source.lat}}</li>
	<li>Longitude: {{loc._source.lng}}</li>
  
  
  <li>
  <span>Hidden: {{loc._source | checkmark}}
  </span>
  </li>
  
  <input type="button" id="delete" value="Delete Location" ng-click="DeleteLocation()" />
  
</ul>
</div>