<link rel="shortcut icon" type="image/png" href="icon.png"/>
<link href="login.css" type="text/css" rel="stylesheet" />
<div id="imagebanner">
			<img src="icon.png" alt="ICON" height="42" width="42" />
		</div>
		<h1 id="title"> HMA ADMIN</h1>
 <div class="temp">
<div class="modal-header">

  <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body">
  <p>{{modalOptions.bodyText}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn" 
          data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
  <button class="btn btn-primary" 
          data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
</div>
</div>