<head>
<title>Note: {{note._source.name}}</title>
</head>
<div class="navbarpls">
<a href="#/home">Home</a> > <a href="#/notes">Notes</a> > {{note._source.name}}
</div>
<div class="temp">
<h1>{{note._source.name}}</h1>
<ul class="specs">
<!--<li>{{note}}</li>-->
<li class="ID">ID: {{note._id}}</li>
	


	<li>
		<span>Name: </span>
		{{note._source.name}}
    </li>
	
	<div style="white-space:pre-wrap;"><li>Contents:<p class="thumbnail">{{note._source.contents}}</p></div></li>
	<li>Parent ID: <a href="#/groups/{{note._source.parentID}}">{{note._source.parentID}}</a></li>
  <li>
  <span>Hidden: {{note._source | checkmark}}
  </span>
  </li>
  
  <input type="button" id="delete" value="Delete Note" ng-click="DeleteNote()" />
  <a href="#/notes/{{note._id}}/edit">Edit this note</a>
  
</ul>