<head>
<title>People</title>
</head>
<div class="navbarpls">
<a href="#/home">Home</a> > Persons
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>Search: <input ng-model="query"></p>
	  <p>Sort by:
<select ng-model="orderprop">
  <option value="name">Alphabetical</option>
  <option value="dateModified">Newest</option>
</select>
</p>
<p><a href="#/personCreation">Create Person</a></p>
    </div>
    <div class="col-md-10">
	
      <!--Body content-->
      <ul class='people'>
<li ng-repeat="person in persons | filter:query | orderBy:orderprop" class="thumbnail">
            <a href="#/persons/{{person._id}}">{{person._source.name}}</a>
            <p>{{person._source.timeModified}}</p>
</li>
</ul>


    </div>
  </div>
</div>