<head>
<title>{{person._source.name}}</title>
<link rel="shortcut icon" type="image/png" href="icon.png"/>
<link href="login.css" type="text/css" rel="stylesheet" />
</head>
<div id="imagebanner">
			<img src="icon.png" alt="ICON" height="42" width="42" />
		</div>
		<h1 id="title"> HMA ADMIN</h1>
 <div class="temp">
<h1>{{person._source.name}}</h1>
<ul class="specs">

<li class="ID">ID: {{person._id}}</li>



	<li>
		<span>Name: </span>
		{{person._source.name}}
    </li>
	<li>
		<span>Email: </span>
		<a href="mailto:{{person._source.email}}">{{person._source.email}}</a>
    </li>
	<li>
		<span>Phone: </span>
		{{person._source.phone}}
    </li>
	<li>Parent IDs:
	<ul class="subIDs">
	<dd ng-repeat="group in person._source.parentIDs"><li><a href="#/projects/{{proj._id}}">{{proj._source.name}}</a>
	ID: {{group.parentID}}
	</li>
	</dd>
	</ul>
	</li>
  
  
  <li>
  <span>Hidden: {{person._source | checkmark}}
  </span>
  </li>
  <input type="button" id="delete" value="Delete Person" ng-click="DeletePerson()" />
  
</ul>
</div>